<div
  class="flex flex-col items-center min-h-screen bg-gradient-to-br from-gray-200 to-blue-100 p-4"
>
  <div class="mt-56"></div>
  <div>
    <div class="text-center mb-8">
      <div
        class="w-full flex flex-col justify-center items-center max-w-2xl mb-8 bg-white shadow-xl rounded-lg p-7"
      >
        <h1 class="text-2xl font-bold text-gray-800 mb-2">
          Choose Your Survey
        </h1>
        <p class="text-gray-600 text-lg leading-relaxed text-center">
          Select a survey from the options provided, and the page will
          dynamically load the chosen survey.
        </p>

        <div style="padding: 2rem">
          <select
            class="p-3 border-2 rounded"
            (change)="loadScript(selectedOption)"
            [(ngModel)]="selectedOption"
          >
            <option *ngFor="let option of options" [value]="option.value">
              {{ option.label }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <a
      class="flex items-center justify-center text-gray-700 text-lg w-fit"
      text-gray-600
      routerLink="/"
    >
      <span class="mr-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"
          />
        </svg>
      </span>
      Back to Landing Page
    </a>
  </div>
</div>
