<div class="flex flex-col items-center min-h-screen bg-gray-100 p-4">
  <div class="mt-56"></div>
  <div>
    <div class="text-center mb-8">
      <div
        class="w-full flex flex-col justify-center items-center max-w-2xl mb-8 bg-white shadow-xl rounded-lg p-8"
      >
        <h1 class="text-2xl font-bold text-gray-800 mb-2">User Driven</h1>
        <span class="text-gray-500 text-lg leading-relaxed text-center">
          On this page, the Ajua modal is triggered by a button click. <br />
          This demonstrates a user-driven workflow.
        </span>

        <div class="mt-6"></div>
        <button
          class="px-6 py-3 bg-[#3b82f6] text-white font-semibold rounded-lg shadow-lg hover:bg-[#2563eb] transition-colors duration-300"
          onclick="window.toggleModal()"
        >
          Trigger Modal
        </button>
      </div>
    </div>

    <a
      class="flex items-center justify-center bg-blue-500 text-white rounded-full px-4 h-12 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 w-fit"
      routerLink="/"
    >
      <span class="mr-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"
          />
        </svg>
      </span>
      Back to Landing Page
    </a>

    <!-- <div id="embedding"></div> -->
  </div>
</div>
