<div class="bg-gradient-to-br from-gray-200 to-blue-100 md:pt-32">
  <div class="main-container flex flex-col items-center min-h-screen">
    <div class="text-center mb-10">
      <h1 class="text-bold text-3xl text-gray-700">Survey time!</h1>
      <p class="text-xl font-light">How should we trigger your webform</p>
    </div>
    <div>
      <div
        class="bg-gray-100 p-10 rounded shadow-2xl w-full max-w-6xl transform"
      >
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 text-center">
          <a
            class="transition duration-300 ease-in-out transform hover:-translate-y-1 rounded p-6 bg-gradient-to-r from-blue-500 to-teal-500 shadow-lg text-white hover:shadow-2xl"
            routerLink="user-driven"
          >
            <h2 class="text-lg font-bold mb-2">User Driven interaction</h2>
            <p>
              Experience seamless interaction as the Ajua modal appears with a
              simple button click.
            </p>
            <div
              class="mt-4 py-2 px-6 border border-white rounded hover:bg-white hover:text-blue-500 transition duration-300"
            >
              See example
            </div>
          </a>

          <a
            class="transition duration-300 ease-in-out transform hover:-translate-y-1 rounded p-6 bg-gradient-to-r from-green-500 to-lime-500 shadow-lg text-white hover:shadow-2xl"
            routerLink="auto-popup"
          >
            <h2 class="text-lg font-bold mb-2">Automatic pop up</h2>
            <p>
              Experience graceful automatic popups that appear without any user
              interaction.
            </p>
            <div
              class="mt-4 py-2 px-6 border border-white rounded hover:bg-white hover:text-green-500 transition duration-300"
            >
              See example
            </div>
          </a>

          <a
            class="transition duration-300 ease-in-out transform hover:-translate-y-1 rounded p-6 bg-gradient-to-r from-red-500 to-pink-500 shadow-lg text-white hover:shadow-2xl"
            routerLink="with-form"
          >
            <h2 class="text-lg font-bold mb-2">Choose a survey</h2>
            <p>
              Select a survey by selecting one of the available options from the
              dropdown menu
            </p>
            <div
              class="mt-4 py-2 px-6 border border-white rounded hover:bg-white hover:text-red-500 transition duration-300"
            >
              See example
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
